.app {
    background-color: #8b234f;
    color: #ffffff;

    width: 800px;
    min-height: 400px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 13rem;
  }

  .button-grp{
    display: flex;
    width:90%;
    justify-content: end;
  }
  
  .score-section {
    display: flex;
    font-size: 24px; 
    align-items: center;
  }
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width: 100%;
    position: relative;
    padding: 2rem;
  }
  
  .question-count {
    margin-bottom: 20px;
  }
  
  .question-count span {
    font-size: 40px;
  }
  
  .question-text {
    margin-bottom: 12px;
  }
  
  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6rem;
    
  }
  
  button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #e72f6d;
    border-radius: 15px;
    display: flex;
    padding: 13px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #ffffff;
    cursor: pointer;
  }
  
  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  button:hover {
    background-color: #ce4076;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  }

.mainResult{
  height: max-content;
}

.scoreCard{

}

.grid {
  border: 5px solid rgb(111,41,97);
  display: grid;
  grid-template-areas:
    "one one two two"
    "one one two two"
    "three three four four"
    "three three four four";
  gap: 10px;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px); */
  /* inline-size: 500px; */
}

.grid > * {
  background-color: rgba(111,41,97,.4);
  border-radius: 5px;
  padding: 10px;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}