@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #609966;
}
.components{
    margin: 0rem;
    text-align: center;
}

.mainText{
    color: #242d21;
    margin-bottom: 2.6rem;
    margin-top: 1.3rem;
    font-size: 5rem;
    /* font-weight: bold; */
    font-family: 'Rampart One', cursive;
    color: #dee3c3;
    text-shadow: 1px 1px 2px rgb(121, 119, 119), 0 0 1em black, 0 0 0.2em black;
}

.mainText h2{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.Cards{
    display: flex;
    justify-content: center;
    gap: 3rem;
}


.nav{
    background-color: #40513B;
    font-family: 'Caveat', cursive;
    font-size: large;
    font-weight: 700;
    color: #EDF1D6;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0rem 1rem;
}

.site-title{
    font-size: 2rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}


.middle-nav-elements{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
}

.right-nav-elements{
    font-family: 'Caveat', cursive;
    font-weight: 600;
    font-size: larger;
}

.nav li.active{
    border-style: solid;
    margin: 0;
    border-width: 0 0 6px 0;
    border-bottom-color: #EDF1D6;
    border-bottom-width: 6px;
    border-radius: 2px;
}

.nav li:hover{
    text-decoration: underline;
    
}

img.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img.css-o69gx8-MuiCardMedia-root {
    height: 400px;
    width: 325px;
    object-fit: fill;
}